@page "/productos"
@rendermode InteractiveServer
<h2>Productos</h2>
@if (_inventarioRepetido)
{
    <div class="alert alert-danger" role="alert">
        El número de inventario se encuentra registrado
    </div>
}
<EditForm Model="_producto" FormName="frmProducto" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="mb-3 row">
        <label for="txtInventario" class="col-sm-2 col-form-label">Inventario</label>
        <div class="col-sm-10">
            <InputNumber class="form-control" id="txtInventario" @bind-Value="_producto.Inventario" disabled="@((_inventarioModificar!=0))" />
            <ValidationMessage For="()=>_producto.Inventario" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="txtNombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <InputText class="form-control" id="txtNombre" @bind-Value="_producto.Nombre" />
            <ValidationMessage For="()=>_producto.Nombre" />
        </div>
    </div>
    <div class="mb-3 row">
        <label for="txtDepartamento" class="col-sm-2 col-form-label">Departamento</label>
        <div class="col-sm-10">
            <InputRadioGroup @bind-Value="_producto.Departamento">
                <InputRadio Value="@("Frutas")" id="rbFrutas" /><label class="form-label mx-2" for="rbFrutas">Frutas</label>
                <InputRadio Value="@("Verduras")" id="rbVerduras" /><label class="form-label mx-2" for="rbFrutas">Verduras</label>
                <InputRadio Value="@("Lácteos")" id="rbLacteos" /><label class="form-label mx-2" for="rbFrutas">Lácteos</label>
            </InputRadioGroup>
            <ValidationMessage For="()=>_producto.Departamento" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">
        @((_inventarioModificar > 0) ? "Actualizar" : "Guardar")
    </button>
    @if (_inventarioModificar > 0)
    {
        <button type="button" class="btn btn-danger ms-3" @onclick="Cancelar">Calcelar</button>
    }
</EditForm>
@if (_existencias)
{
    <button class="btn btn-secondary mt-3" @onclick="Existencias">Listado</button>
    @if (_productos.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Frutas</th>
                    <th>Verduras</th>
                    <th>Lácteos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@_productos.Count(r => r.Departamento == "Frutas")</td>
                    <td>@_productos.Count(r => r.Departamento == "Verduras")</td>
                    <td>@_productos.Count(r => r.Departamento == "Lácteos")</td>
                </tr>
            </tbody>
        </table>
    }
}
else
{
    <button class="btn btn-secondary mt-3" @onclick="Existencias">Existencias</button>
    @if (_productos.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Inventario</th>
                    <th>Nombre</th>
                    <th>Departamento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Producto producto in _productos)
                {
                    <tr>
                        <td>@producto.Inventario</td>
                        <td>@producto.Nombre</td>
                        <td>@producto.Departamento</td>
                        <td>
                            <button class="btn-sm btn-secondary" title="Eliminar" @onclick="()=>Eliminar(producto)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                </svg>
                            </button>
                            <button class="btn-sm btn-secondary" title="Modificar" @onclick="()=>Modificar(producto)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}


@code {
    private Producto _producto = new();
    private List<Producto> _productos = new();
    private bool _inventarioRepetido = false;
    private int _inventarioModificar = 0;
    private bool _existencias = false;

    private void Guardar()
    {
        if (_inventarioModificar > 0)
        {
            var producto = _productos.First(r => r.Inventario == _inventarioModificar);
            producto.Nombre = _producto.Nombre;
            producto.Departamento = _producto.Departamento;
            _inventarioModificar = 0;
        }
        else
        {
            if (_productos.Any(r => r.Inventario == _producto.Inventario))
            {
                _inventarioRepetido = true;
            }
            else
            {
                _productos.Add(_producto);
                _producto = new();
                _inventarioRepetido = false;
            }
        }
    }

    private void Eliminar(Producto producto)
    {
        _productos.Remove(producto);
    }

    private void Modificar(Producto producto)
    {
        _inventarioModificar = producto.Inventario;
        _producto.Inventario = producto.Inventario;
        _producto.Nombre = producto.Nombre;
        _producto.Departamento = producto.Departamento;
    }

    private void Cancelar()
    {
        _inventarioModificar = 0;
        _producto = new();
    }

    private void Existencias()
    {
        _existencias = !_existencias;
    }
}
